*
!/**/
!*.*
sicp
*.exe
*.in
*.out
*.ans
*.txt
*.pdf
*.pyc
standard
uppg
courses
.vscode
kattis-all-problems.py
kattis-dl.py
kattis-open.py
kattis-submit.py
onlinejudge-dl.py
.DS_Store
@util
geckodriver
uva-dl.py